.custom.ds4 {
  width: 4096px;
  height: 1714px;
  position: relative;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/base.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Limpiar skin original para evitar que se dibujen elementos por defecto */
.custom.ds4 * {
  background: none !important;
}

/* BOTONES (CARA) */
.custom.ds4 .button.cross {
  position: absolute;
  width: 200px; /* ajustar */
  height: 200px; /* ajustar */
  left: 2800px;  /* estimado */
  top: 900px;    /* estimado */
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-cross.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 3000px;  /* estimado */
  top: 800px;    /* estimado */
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.square {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2600px;  /* estimado */
  top: 800px;    /* estimado */
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-square.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.triangle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2800px;  /* estimado */
  top: 700px;    /* estimado */
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-triangle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* DPAD */
.custom.ds4 .dpad.up {
  position: absolute;
  width: 180px;  /* ajustar */
  height: 180px; /* ajustar */
  left: 500px;   /* estimado */
  top: 850px;    /* estimado */
  background-image: url("https://raw.githubusercontent.com/y
