/* CONTENEDOR PRINCIPAL */
.custom.ds4 {
    width: 4096px;
    height: 1714px;
    position: relative;
}

/* BASE */
.custom.ds4 .base {
    width: 4096px;
    height: 1714px;
    background-image: url("base.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

/* BOTONES (Cross, Circle, Square, Triangle) */
.custom.ds4 .button.cross {
    background-image: url("button-cross.png");
}

.custom.ds4 .button.circle {
    background-image: url("button-circle.png");
}

.custom.ds4 .button.square {
    background-image: url("button-square.png");
}

.custom.ds4 .button.triangle {
    background-image: url("button-triangle.png");
}

/* DPAD */
.custom.ds4 .dpad.up {
    background-image: url("dpad-up.png");
}

.custom.ds4 .dpad.down {
    background-image: url("dpad-down.png");
}

.custom.ds4 .dpad.left {
    background-image: url("dpad-left.png");
}

.custom.ds4 .dpad.right {
    background-image: url("dpad-right.png");
}

/* JOYSTICKS */
.custom.ds4 .stick.left {
    background-image: url("joy-left.png");
}

.custom.ds4 .stick.right {
    background-image: url("joy-right.png");
}

/* START / OPTIONS */
.custom.ds4 .start {
    background-image: url("start.png");
}

.custom.ds4 .select {
    background-image: url("select.png");
}
