.custom.ds4 {
    width: 4096px;
    height: 1714px;
    position: relative;
}

.custom.ds4 .base {
    width: 4096px;
    height: 1714px;
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/base.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
}

.custom.ds4 .button.cross {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-cross.png");
}

.custom.ds4 .button.circle {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-circle.png");
}

.custom.ds4 .button.square {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-square.png");
}

.custom.ds4 .button.triangle {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-triangle.png");
}

.custom.ds4 .dpad.up {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-up.png");
}

.custom.ds4 .dpad.down {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-down.png");
}

.custom.ds4 .dpad.left {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-left.png");
}

.custom.ds4 .dpad.right {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-right.png");
}

.custom.ds4 .stick.left {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/joy-left.png");
}

.custom.ds4 .stick.right {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/joy-right.png");
}

.custom.ds4 .start {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/start.png");
}

.custom.ds4 .select {
    background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/select.png");
}
