/* ===== SKIN BASE ===== */
.custom.ds4 {
  width: 4096px;
  height: 1714px;
  position: relative;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/base.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Evita que Gamepad Viewer dibuje los botones por defecto */
.custom.ds4 * {
  background: none !important;
}

/* ===== FACE BUTTONS ===== */
.custom.ds4 .button.cross {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2800px;
  top: 900px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-cross.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 3000px;
  top: 800px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.square {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2600px;
  top: 800px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-square.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.triangle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2800px;
  top: 700px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-triangle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ===== DPAD ===== */
.custom.ds4 .dpad.up {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 500px;
  top: 850px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-up.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .dpad.down {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 500px;
  top: 1050px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-down.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .dpad.left {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 400px;
  top: 950px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .dpad.right {
  position: absolute;
  width: 180px;
  height: 180px;
  left: 600px;
  top: 950px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/dpad-right.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ===== JOYSTICKS ===== */
.custom.ds4 .stick.left {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 1000px;
  top: 1050px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/joy-left.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .stick.right {
  position: absolute;
  width: 260px;
  height: 260px;
  left: 2000px;
  top: 1050px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/joy-right.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* ===== START / SELECT ===== */
.custom.ds4 .start {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2200px;
  top: 600px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/start.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .select {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 1600px;
  top: 600px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/select.png");
  background-size: contain;
  background-repeat: no-repeat;
}
