/* ===== SKIN BASE ===== */
.custom.ds4 {
  width: 4096px;
  height: 1714px;
  position: relative;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/base.png");
  background-size: contain;
  background-repeat: no-repeat;
}

/* Evita que Gamepad Viewer dibuje los botones por defecto */
.custom.ds4 * {
  background: none !important;
}

/* ===== FACE BUTTONS ===== */
.custom.ds4 .button.cross {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2800px;
  top: 900px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-cross.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.circle {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 3000px;
  top: 800px;
  background-image: url("https://raw.githubusercontent.com/yesicagomz/cinnahand-skin/main/button-circle.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.custom.ds4 .button.square {
  position: absolute;
  width: 200px;
  height: 200px;
  left: 2600px;
  top: 800px;
  background-image: url("https://raw.github
